.indicatior-icon {
    opacity: 0.5;
    height: 1.5em;
    width: auto;
    margin-right: 0.5em;
}

.text-overlap-container {
    position: relative;
    text-align: center;
}

.overlap-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}