@model KFZ_Konfigurator.ViewModels.OrderOverviewPageViewModel

@{
    ViewBag.Title = LocalizationManager.Localize("OrderOverviewView_Title");
}

@Html.AntiForgeryToken()
@*<h2 class="mt-3">@LocalizationManager.Localize("OrderListView_Header")</h2>*@