.indicatior-icon {
    opacity: 0.5;
    height: 1.5em;
    width: auto;
    margin-right: 0.5em;
}

.text-overlap-container {
    position: relative;
    text-align: center;
}

.overlap-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.card.car-model-link {
    text-decoration: none;
    color: inherit;
    border-bottom-width: 3px;

    &:hover {
        border-bottom: 3px solid red;
    }
}

.navbar-nav {
    .nav-link.active {
        text-decoration: underline;
    }
}

.sticky-top-offset {
    top: 5em;
}

@media (max-width: 768px) {
    .hidden-xs {
        display: none;
    }
}

// carousel dark
.carousel-indicators.dark {
    .active {
        background-color: #3a40a6;
        opacity: 0.6;
    }

    li {
        background-color: #3a4029;
        opacity: 0.3;
    }
}

// paint radio button
.paintContainer {
    // hide default radio button
    > input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    > figure {
        border-width: 0px 0px 3px 0px;
        border-style: solid;
        border-color: transparent;

        &:hover {
            border-color: red;
        }

        > img {
            width: 7em;
            height: 7em;
        }
    }

    > input.checked + figure {
        border-color: red;
    }
}
