.indicatior-icon {
  opacity: 0.5;
  height: 1.5em;
  width: auto;
  margin-right: 0.5em;
}
.text-overlap-container {
  position: relative;
  text-align: center;
}
.overlap-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.card.car-model-link {
  text-decoration: none;
  color: inherit;
  border-bottom-width: 3px;
}
.card.car-model-link:hover {
  border-bottom: 3px solid red;
}
.configurationNameLink {
  min-width: 10em;
}
.paintContainer > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.paintContainer > figure {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: transparent;
}
.paintContainer > figure:hover {
  border-color: red;
}
.paintContainer > figure > img {
  width: 7em;
  height: 7em;
}
.paintContainer > input.checked + figure {
  border-color: red;
}