@{
    Layout = "~/Views/Shared/_VueLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("ModelView_Title");
}

<div id="app">Loading...</div>

@section scripts {
    <script type="module" src="~/JS/dist/main.bundle.js"></script>
}