<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>@LocalizationManager.Localize("General_ProductTitle")</h1>
        <p class="lead">@LocalizationManager.Localize("HomeView_ConfigurationDescription")</p>
        <p><a href="@Url.RouteUrl(Constants.Routes.ModelOverview)" class="btn btn-primary btn-lg">@LocalizationManager.Localize("HomeView_StartConfiguration_Button")</a>
    </div>
</div>
