<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>@LocalizationManager.Localize("ProductTitle")</h1>
        <p class="lead">@LocalizationManager.Localize("ConfigurationDescription")</p>
        <p><a href="@Url.RouteUrl(Constants.Routes.ModelOverview)" class="btn btn-primary btn-lg">@LocalizationManager.Localize("StartConfiguration")</a>
    </div>
</div>
