<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>@WebApiApplication.ApplicationProductTitle</h1>
        <p class="lead">Design your individual car by configuring each and every part of it</p>
        <p>@Html.ActionLink("Start Configuration", "Index", "Configuration", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>
